= render 'layouts/header_form'
.main-user-page
  .user_container
    .user_contents
      .identification-container
        %h2.identification__header
          本人確認
        %p.identification__header-text
          お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。
        .identification__form_tag
          .identification__form-group
            %label
              お名前
            %span.require
              必須
            %input.name
            %input.name
          .identification__form-group
            %label
              お名前カナ
            %span.require
              必須
            %input.name
            %input.name
          .identification__form-group
            %label
              郵便番号
            %span.any
              任意
            %input.name
          .identification__form-group
            %label
              都道府県
            %span.require
              必須
            .select-wrap
              %select.form-group
          .identification__form-group
            %label
              市町村
            %span.require
              必須
            %input.name
          .identification__form-group
            %label
              番地
            %span.require
              必須
            %input.name
          .identification__form-group
            %label
              建物名
            %span.any
              任意
            %input.name
          .identification__form-group
            %label
              生年月日
            %span.require
              必須
            %br
            .birthday-select-wrap
              .select-wrap
                %select.birthday-wrap--year
                  %option ---     年
            .birthday-select-wrap
              .select-wrap
                %select.birthday-wrap--month
                  %option ---     月
            .birthday-select-wrap
              .select-wrap
                %select.birthday-wrap--days
                  %option ---     日
            %br
            .form-text
              ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
          .identification__form-bottom
            登録する
          .identification__help--link
            本人情報登録について
            = fa_icon 'chevron-right', class: 'icon'
    =render "layouts/sidebar"
= render 'layouts/footer'
