.single-footer{
  margin: 0 auto;
  text-align: center;
  background: $light_gray;
}
.gray-footer-list{
  margin: 0;
  padding: 0;
}


li{
display: inline-block;
font-size: 12px;
}

.footer-gray_logo{
  margin: 40px auto 0;
}
