.app-banner{
  height: 260px;
  background-image: url('/images/banner.jpg');
  background-size: 100%;
  /*background-position: center;*/
  display: block;

  .app-banner__inner{
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;

    .app-banner__inner-msg{
      position: absolute;
      top: 10%;
      h2{
        font-size: 24px;
        color: $white;
        margin: 0;
      }
      p{
        font-size: 35px;
        margin: 10px 0 0;
        color: $white;
      }

      .inner-msg__banners{
        display: block;
        .inner-msg__banners-icon{
          display: block;
          margin: 0;
          float: left;
          width: 68px;
          height: 68px;
        }
        ul{
          list-style: none;
          li{
            display: inline-block;
            margin-left: 8px;
          }
        }
      }
      }
      .inner-msg__image{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
  }
}

.global-footer{
  background-color: $black;
  height: 600px;
  color: $white;
  padding: 60px 0;
  text-align: center;
  nav{
    width:700px;
    margin:0 auto;
    ul{
      list-style: none;
    }
  }
}

.footer{
  margin:0;
  padding:0;
}

.footer-cell{
  display: inline-block;
  vertical-align: top;
  margin:0 5px 0 0;
  width:23%;
}

.footer-head{
  font-size: 16px;
  margin:0;
}

.footer-cell__list{
  line-height: 20px;
  margin:0;
  padding-left:0;
  li{
    width :100%;
    margin-top:10px;
    font-size: 14px;
  }
}

.footer-logo{
  margin:40px 0 0;
}

.footer-copyright{
  margin: 2px 0 0;
}

small{
  font-size: 14px;
}

.list{
  text-decoration: none;
  color: $white;
}
