.main-contents{
  color: $black;
  background-color: $light_gray;

  h2{
    font-size: 28px;
    text-align: center;
  }

  .slideshow{
    height: 391px;
    border: solid;
  }

  .main-contents-pickup{
    padding-top: 40px;
    .pickup-category-items-container{
      margin-right: 10%;
      margin-left: 10%;
      a{
        text-decoration: none;
        h3{
          margin: 26px 11px;
          font-size: 22px;
          color: $link_blue;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }
}
