.logout--container{
  width:700px;
  height:200px;
  background-color: $white;
  display:inline-block;
}
.logout--form_tag{
  padding:64px;
}
.logout--content{
  max-width: 320px;
  margin:0 auto;
}
.logout--button{
background-color: $mercari_red;
text-align: center;
height:50px;
line-height: 50px;
text-decoration: none;
}
.logout--button--text{
  text-decoration: none;
  color:$white;
}
