.wrapper{
  padding-bottom: 220px;
  background-color: $light_gray;
  header{
    height: 128px;
    text-align: center;

    h1{
      margin: 40px 0 0;
      display: inline-block;
    }
  }
  .main{
    display: block;
    width: 700px;
    margin: 0 auto;

    .sell-container{
      background-color: $white;

      .sell-container__header{
        text-align: center;
        padding: 32px 16px;
        font-size: 22px;
        border-bottom: 1px solid #eee;
        margin: 0px;
      }
      .sell-upload-box{
        width: 620px;
        padding: 40px;

        .sell-upload-head{
          font-size: 16px;
          font-weight: bold;
          margin: 0;
          padding: 0;
          display: block;
          display: inline-block;
        }
        .form-require{
          font-size: 12px;
          color: $white;
          background-color: $mercari_red;
          border-radius: 2px;
          padding: 2px 4px;
          display: inline-block;
        }
        .file-field{
          width: 620px;
          height: 184px;
          background-color: $light_gray;
          margin-top: 20px;
          border: 1px dashed #d8d8d8;
          text-align: center;
          line-height: 184px;
        }
      }
    }
  }
}
