.main-user-page{
  background: #f5f5f5;
  .user_container {
    margin: 40px 89.5px 0;
    display: inline-block;
      // サイドバーに関するCSS
    .mypage--side_bar{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      ul.mypage--side_bar--list{
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: white;
        li {
          border-style: solid; border-width: 1px;
          border-color: #f5f5f5;
          height: 40px;
          display: flex;
          align-items: center;
          a.mypage--nav-list--item{
            padding: 16px;
            font-size: 14px;
            width: 100%;
            position: relative;
            .icon{
              font-size: 14px;
              position: absolute;
              top: 20px;
              right: 16px;
            }
          }
        }
      }
      h3.mypage--side_bar--head{
        margin: 32px 0 0 0;
        font-size: 16px;
      }
    }
      // マイページの右側全体に関するCSS
    .user_contents{
      float: right;
      width: 700px;
      background-color: white;
      // ログアウトに関するcss(logout)
      .logout--container{
        height: 179px;
        .logout--form_tag {
          border-top: 1px solid #f5f5f5;
          padding: 64px;
          .logout--content {
            margin: 0 126px;
            background-color: $mercari_red;
            width:320px;
            color: white;
            .logout--button{
              padding: 1px;
              height: 48px;
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      // プロフィールに関するcss(profile)
      .profile--container{
        h2.profile--header{
          padding: 8px 24px;
          text-align: center;
          margin: 0 auto;
          border-bottom: 1px;
        }
        .profile--form_tag{
          .profile--form--icon{
            padding: 72px 16px 24px;
            display: flex;
            justify-content: center;
            figure.profile--form--icon--image{
              width: 60px;
              height: 60px;
              vertical-align: middle;
              margin: 0;
            }
            .profile--form--icon--name{
              width: 180px;
              margin: 0 0 0 8px;
              height: 25px;
              padding: 10px 16px 8px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
            }
          }
          .profile--form--content{
            padding: 40px 16px;
            textarea.profile--form--textarea{
              border: 1px;
              border-color: black;
              padding: 10px;
              font-size: 16px;
              min-height: 216px;
              border: 1px solid #ccc;
              padding: 10px;
              width: 648px;
            }
            .profile--form--botten{
              margin: 16px 0 0 0;
              border: 1px;
              background-color: $mercari_red;
              color: white;
              font-size: 14px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      // クレジット決済のCSS(card)
      .card-container{
        h2.card--head{
          padding: 8px 24px;
          text-align: center;
          margin: 0 auto;
          border-bottom-style: solid; border-width: 1px;
          border-color: #f5f5f5;
        }
        .card--content{
          border: 1px;
          padding: 64px;
          height: 174px;
          .card--information--list{
            text-align: center;
          }
          section.add-card--information{
              padding: 24px 0 ;
              border-bottom-style: solid; border-width: 1px;
              border-color: #f5f5f5;
            .add-card--content {
              margin: 0 126px;
              background-color: $mercari_red;
              width:320px;
              color: white;
              .add-card--button{
                padding: 1px;
                height: 48px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .card--content--help{
            text-align: right;
            font-size: 14px;
            a.card--content--help--link{
            }
          }
        }
      }
      // 本人確認ページのCSS(identification)
      .identification-container{
        h2.identification__header{
          padding: 8px 24px;
          margin: 0;
          text-align: center;
        }
        p.identification__header-text{
          text-align: center;
          margin: 0;
          font-size: 12px;
        }
        .identification__form_tag{
          padding: 0 64px 64px;
          border: 1px;
          .identification__form-group{
            margin-top: 40px;
            label{
              font-weight: 600;
              font-size: 14px;
            }
            span.require{
              background-color: $mercari_red;
              color: white;
              margin-left: 8px;
              padding: 2px 4px;
              font-size: 12px
            }
            span.any{
              background-color: gray;
              color: white;
              margin-left: 8px;
              padding: 2px 4px;
              font-size: 12px
            }
            input.name{
              height: 30px;
              width: 100%;
              margin: 5px 0;
              font-size: 16px;
              border-bottom-style: solid; border-width: 1px;
              border-color: #f5f5f5;
              border-radius: 5px;
            }
            .select-wrap{
              width: 100%;
              margin: 8px 0 0;
              select.form-group{
                height: 35px;
                padding: 0 16px;
                background-color: white;
              }
            }
            .birthday-select-wrap{
              display: inline-block;
              width: 140px;
              select.birthday-wrap--year{
                background-color: white;
                height: 35px;
              }
              select.birthday-wrap--month{
                background-color: white;
                height: 35px;
              }
              select.birthday-wrap--days{
                background-color: white;
                height: 35px;
              }
            }

            .form-text{
              color: gray;
              font-size: 12px;
            }
          }
          .identification__form-bottom{
            background-color: $mercari_red;
            color: white;
            height: 50px;
            margin-top: 40px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .identification__help--link{
            margin-top: 40px;
            text-align: right;
            font-size: 14px;
          }
        }
      }
    }
  }
}
