.profile--container
  %h2.profile--header
    プロフィール
  .profile--form_tag
    .profile--form--icon
      %figure.profile--form--icon--image
        イメージ画像
      .profile--form--icon--name
        ヤマダヤマダ
    .profile--form--content
      %textarea.profile--form--textarea
        例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"
      .profile--form--botten
        変更する
