= render 'layouts/header_form'
.main-contents
  .slideshow
    %ul.bxslider
      %li
        %img{:src => "https://i2.wp.com/panaapp.net/web/wp-content/uploads/2018/08/mercari.png?fit=1200%2C630&ssl=1", height:'500'}/
      %li
        %img{:src => "//www-mercari-jp.akamaized.net/assets/img/promotion/jp/201812_new_register/main-img.svg?3085886043", width:'100',height: '350' }/
      %li
        %img{:src => "https://mercari-special.jp/assets/img/img_gallery_2_1.jpg", width: '400',height:'400'}/
      %li
        %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3085886043", width: '100',height:'400'}/
  .main-contents-pickup-category
    %h2
      ピックアップカテゴリー
    .pickup-category-items-container
      .pickup-category-name
        %a{href: ''}
          %h3
            メンズ 新着アイテム
  .main-contents-pickup-brand
    %h2
      ピックアップブランド
    .pickup-brand-items-container
      .pickup-brand-name
        %a{href: ''}
          %h3
            ナイキ 新着アイテム
= render 'layouts/sell_btn'
= render 'layouts/footer'
