.wrapper
  %header
    %h1
      = link_to image_tag('mercari_logo.svg', alt: 'mercari', width: '185', height: '49'), root_path
  .main
    .main-sell-item-container
      .sell-container
        %h2.sell-container__header
          商品の情報を入力
        %form.sell-form
          .sell-upload-box
            %h3.sell-upload-head
              出品画像
            %span.form-require
              必須
            .file-field
              クリックしてファイルをアップロード
