%ul.category_list_root
  - header_categories.each do |category1|
    %li
      = category1.name
      %ul.category_list_children
        - header_categories[0].children.each do |category2|
          %li
            = category2.name
